<h1>提出済み課題一覧</h1>
<% @homeworks.each do |homework| %>
    <p>
    <%= Subject.find(homework.subject_id).day %> <%= Subject.find(homework.subject_id).period %>
    <%= link_to Subject.find(homework.subject_id).name, subject_path(Subject.find(homework.subject_id)) %>
    <br>
    <%= homework.due.month %>/<%= homework.due.day%>(<%= %w(日 月 火 水 木 金 土)[homework.due.wday] %>) :
    <%= homework.name %>&emsp;<%= link_to("未提出にする",homework_checks_path(homework.id), {method: :delete, class: "btn btn-primary"}) %>&emsp;
    <%= link_to "編集",edit_homework_path(homework.id) %>&emsp;
    
    <%= homework.else %>
    <br>
    
  </p>
  <hr></hr>
<% end %>