<h1>新しい課題を作成する</h1>

<%= form_for @homework do |f| %>
  <p>
    <%= f.label :subject_id,"科目名:"%>
    <%= f.collection_select(:subject_id,@subjects,:id,:name) %>
  </p>
  <P> 
    <%= f.label :name, "課題名:"%>
    <%= f.text_field :name %> 
  </P>
  <p>
    <%= f.label :due, "締め切り"%>
    <%= f.date_field :due %>
    <%#= f.text_field :due %>
  </p> 
  <p>
    <%= f.label :else, "その他"%>
    <br> 
    <%= f.text_area :else %>
  </p>
  <%= f.submit "送信" %>
  
<% end %>
